.u-section-1 {
  background-image: linear-gradient(rgba(0,0,0,0.76), #db545a);
  min-height: 665px;
}

.u-section-1 .u-image-1 {
  height: 471px;
  filter: brightness(0.85);
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 67.34%;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -343px calc(((100% - 1140px) / 2) + 595px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 105.6px;
  margin: 20px calc(((100% - 1140px) / 2) + 180px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-list-1 {
  min-height: 326px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-template-rows: auto;
  width: 848px;
  grid-gap: 30px 30px;
  margin: 56px auto -159px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(#c0c0c0, #db545a);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 1;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 25px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(#c0c0c0, #db545a);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  line-height: 1;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 25px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(#c0c0c0, #db545a);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  line-height: 1;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 25px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    height: 626px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 425px);
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 10px);
    margin-left: 50px;
  }

  .u-section-1 .u-list-1 {
    min-height: 242px;
    grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
    height: auto;
    grid-gap: 25px 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-1 .u-list-1 {
    min-height: 556px;
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 513px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    line-height: 1;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: linear-gradient(#db545a, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 329px;
  background-image: url("images/maincharacter01-01.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 329px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 329px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 329px;
  background-image: url("images/character-02.png");
  background-position: 51.06% 64.58%;
  animation-duration: 1000ms;
  background-size: 120%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.u-section-2 .u-image-3 {
  min-height: 348px;
  background-image: url("images/character-03.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 348px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  margin: 29px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-2 .u-image-2 {
    min-height: 315px;
  }

  .u-section-2 .u-image-3 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }
}.u-section-3 {
  background-image: linear-gradient(black, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/full.png");
  background-position: 50% 50%;
  min-height: 336px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 216px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 36px 0 0;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/InventoryKey.png");
  background-position: 50% 50%;
  min-height: 336px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 266px;
  animation-duration: 1000ms;
  width: 264px;
  margin: 0 -23px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 36px 0 0;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/RedCandle.png");
  background-position: 50% 50%;
  min-height: 336px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 266px;
  animation-duration: 1000ms;
  width: 264px;
  margin: 0 -23px;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  margin: 36px 0 0;
}

.u-section-3 .u-text-12 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-3 .u-image-1 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 277px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    height: 168px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 277px;
  }

  .u-section-3 .u-image-3 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 277px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-4 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 277px;
  }

  .u-section-3 .u-image-5 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 277px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-6 {
    height: 168px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2682px;
  }

  .u-section-3 .u-image-1 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-3 .u-image-2 {
    height: 288px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 424px;
  }

  .u-section-3 .u-image-4 {
    height: 288px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 424px;
  }

  .u-section-3 .u-image-6 {
    height: 288px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4254px;
  }

  .u-section-3 .u-image-1 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 499px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 499px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 636px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 499px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2838px;
  }

  .u-section-3 .u-image-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-3 .u-image-2 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 400px;
  }

  .u-section-3 .u-image-4 {
    height: 307px;
  }

  .u-section-3 .u-image-5 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 400px;
  }

  .u-section-3 .u-image-6 {
    height: 307px;
  }
}