.u-section-1-1 .u-sheet-1 {
  min-height: 402px;
}

.u-section-1-1 .u-text-1 {
  margin: 60px 168px 0;
}

.u-section-1-1 .u-text-2 {
  margin: 30px 56px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px 467px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}.u-block-31ef-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-31ef-3 {
  position: absolute;
  left: 0;
}

.u-block-31ef-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: linear-gradient(black, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-2 .u-tabs-1 {
  min-height: 480px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 420px;
  height: 367px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -367px 0 0 522px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 0 0 522px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 27px 0 0 522px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 55px auto 0 522px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(230, 52, 52) !important;
  font-size: 1.2em;
  width: 49px;
  height: 59px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  background-image: none;
  margin: -20px -30px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 32px;
  margin: 7px -30px 0;
}

.u-section-2 .u-text-6 {
  background-image: none;
  margin: 20px -30px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 32px;
  margin: 7px -30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 322px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 303px;
    height: 377px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 330px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 190px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-1 {
    min-height: 763px;
  }

  .u-section-2 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#db545a, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 485px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 338px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(153, 153, 153) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}